$decorationColor: #181727;
$alternColor: #011f41;
$contentColor: #fdfefe;
$font : 'Neucha', cursive;


body {
  color: $contentColor;
  font-family: "Neucha", cursive;
}

header {
  background-color: $decorationColor;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 15vh;

  ul {
    display: flex;
    list-style: none;
    padding: 0;

    li {
      padding-right: 95px;

      a {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: bold;
        color: $contentColor;
        font-family: $font;
                
      }
    }
  }
}

#welcome-section {
  height: 100vh;
  background-image: url("../images/backgroundnoise.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

  h1,
  .profession {
    margin: 0;
    font-family: $font;
    height: auto;
    letter-spacing: 5px;
    
  }
}

h1{
  position: absolute;
  top: 28%;
  font-size: 2.4rem;
  font-weight: normal;  
   

  
}
.profession{
  position: absolute;
  top: 40%;
  font-size: 1.5rem;
}

.welcome-img{
  position:absolute;
  top: 52%;
  width: 28%;
  height: 45%;
  @media screen and (max-heigth: 300px){
    height: 25%;
    width: 20%;
  }

}


#projects{
  background-image: url("../images/noiseprojects.png");
  width: auto;
  height: auto;
  border-top: 15px solid  #181727;
  text-align: center;

  .subtitle{
    font-size: 2rem;
    letter-spacing: 5px;
    margin-bottom: 0;
    
  }

  .my-projects a:hover {
    position: relative;
    text-decoration: none;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    
        
    h3{
      visibility: visible;
      text-decoration: none;  
      font-size: 2.5rem;   
      
    }
     
    

  }
}

.my-projects{
  width: 80vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px auto;
  margin-bottom: 0;
  
  
}

.project-wrap{
  border: 3px solid gray;
  width: 45%;
  min-height: 400px;
  margin-bottom: 90px;
  border-radius: 10px;;  
  background-repeat: no-repeat;
  background-size: cover;

  

  
  /* overflow: hidden; */


  
}


.tributePage{
  background-image: url("../images/tribute.png");
  min-height: 400px;
  
 
  h3{
    visibility: hidden;
  }

  
}
.surveyForm{
  background-image: url("../images/survey.png");
}

.landingPage{
  background-image: url("../images/landingpage.png");
  background-position: center;
}

.documentationPage{
  background-image: url("../images/documentation.png");
  
}

.ensayo{
  width: inherit;
  height: inherit;
}


#contact{
  background-image: url('../images/backgroundnoise.png');
  margin: 0;
  height: 700px;
  border-top: 15px solid  #181727;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8%;
}


.contactMe, .frase{
  margin: 0;
  letter-spacing: 5px;
}

.contactMe{
  font-size: 2.5rem;
  font-weight: normal;  
}

.frase{
  font-size: 1.5rem;
  font-weight: normal;  
  margin-top: 1%;
}





footer{
  background-color: $decorationColor;;
  height: 100px;
  display: flex;
  justify-content: center;
  color: white;


  h5{
    margin: 0;
  }
}










